.form-style {
  background: linear-gradient(to right bottom, $cream, $gray);
  margin-left: 46rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.submit {
  margin-bottom: 1rem;
}

.custom-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  background: linear-gradient(to right bottom, $cream, $gray);
  box-shadow: 0 1rem 2rem rgba(1,1,1, .1);
}
