.Navbar {
  background: linear-gradient(to right bottom, $cream, $gray);
}

.nav-link {
  color: $gray;

  &:hover {
    color: $highlight !important;
  }
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
}
